/bin/
input/plano/teste1/Base-1000000.data
input/plano/teste1/Base-2000000.data
input/plano/teste1/Base-4000000.data
input/plano/teste1/Base-6000000.data
input/plano/teste1/Base-8000000.data
input/plano/teste1/dimensionsnames.mg
input/plano/teste1/measuresnames.mg
input/plano/teste2/10/Base-10.data
input/plano/teste2/10/dimensionsnames.mg
input/plano/teste2/10/measuresnames.mg
input/plano/teste2/20/Base-20.data
input/plano/teste2/20/dimensionsnames.mg
input/plano/teste2/20/measuresnames.mg
input/plano/teste2/30/Base-30.data
input/plano/teste2/30/dimensionsnames.mg
input/plano/teste2/30/measuresnames.mg
input/plano/teste2/40/Base-40.data
input/plano/teste2/40/dimensionsnames.mg
input/plano/teste2/40/measuresnames.mg
input/plano/teste2/5/Base-5.data
input/plano/teste2/5/dimensionsnames.mg
input/plano/teste2/5/measuresnames.mg
input/plano/teste3/Base-0.0.data
input/plano/teste3/Base-0.5.data
input/plano/teste3/Base-1.0.data
input/plano/teste3/Base-1.5.data
input/plano/teste3/Base-2.0.data
input/plano/teste3/dimensionsnames.mg
input/plano/teste3/measuresnames.mg
